<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joe.levante.dao.historylineupMapper">
  <resultMap id="BaseResultMap" type="joe.levante.model.historylineup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="paytimecalc" jdbcType="VARCHAR" property="paytimecalc" />
    <result column="lineupnumber" jdbcType="VARCHAR" property="lineupnumber" />
    <result column="lineupmoney" jdbcType="DOUBLE" property="lineupmoney" />
    <result column="outlineuptime" jdbcType="DATE" property="outlineuptime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, paytimecalc, lineupnumber, lineupmoney, outlineuptime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from historylineup
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from historylineup
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="joe.levante.model.historylineup">
    insert into historylineup (id, paytimecalc, lineupnumber, 
      lineupmoney, outlineuptime)
    values (#{id,jdbcType=INTEGER}, #{paytimecalc,jdbcType=VARCHAR}, #{lineupnumber,jdbcType=VARCHAR}, 
      #{lineupmoney,jdbcType=DOUBLE}, #{outlineuptime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="joe.levante.model.historylineup">
    insert into historylineup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paytimecalc != null">
        paytimecalc,
      </if>
      <if test="lineupnumber != null">
        lineupnumber,
      </if>
      <if test="lineupmoney != null">
        lineupmoney,
      </if>
      <if test="outlineuptime != null">
        outlineuptime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paytimecalc != null">
        #{paytimecalc,jdbcType=VARCHAR},
      </if>
      <if test="lineupnumber != null">
        #{lineupnumber,jdbcType=VARCHAR},
      </if>
      <if test="lineupmoney != null">
        #{lineupmoney,jdbcType=DOUBLE},
      </if>
      <if test="outlineuptime != null">
        #{outlineuptime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="joe.levante.model.historylineup">
    update historylineup
    <set>
      <if test="paytimecalc != null">
        paytimecalc = #{paytimecalc,jdbcType=VARCHAR},
      </if>
      <if test="lineupnumber != null">
        lineupnumber = #{lineupnumber,jdbcType=VARCHAR},
      </if>
      <if test="lineupmoney != null">
        lineupmoney = #{lineupmoney,jdbcType=DOUBLE},
      </if>
      <if test="outlineuptime != null">
        outlineuptime = #{outlineuptime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="joe.levante.model.historylineup">
    update historylineup
    set paytimecalc = #{paytimecalc,jdbcType=VARCHAR},
      lineupnumber = #{lineupnumber,jdbcType=VARCHAR},
      lineupmoney = #{lineupmoney,jdbcType=DOUBLE},
      outlineuptime = #{outlineuptime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="joe.levante.model.historylineup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="paytimecalc" jdbcType="VARCHAR" property="paytimecalc" />
    <result column="lineupnumber" jdbcType="VARCHAR" property="lineupnumber" />
    <result column="lineupmoney" jdbcType="DOUBLE" property="lineupmoney" />
    <result column="outlineuptime" jdbcType="DATE" property="outlineuptime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, paytimecalc, lineupnumber, lineupmoney, outlineuptime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from historylineup
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from historylineup
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="joe.levante.model.historylineup">
    insert into historylineup (id, paytimecalc, lineupnumber, 
      lineupmoney, outlineuptime)
    values (#{id,jdbcType=INTEGER}, #{paytimecalc,jdbcType=VARCHAR}, #{lineupnumber,jdbcType=VARCHAR}, 
      #{lineupmoney,jdbcType=DOUBLE}, #{outlineuptime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="joe.levante.model.historylineup">
    insert into historylineup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paytimecalc != null">
        paytimecalc,
      </if>
      <if test="lineupnumber != null">
        lineupnumber,
      </if>
      <if test="lineupmoney != null">
        lineupmoney,
      </if>
      <if test="outlineuptime != null">
        outlineuptime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paytimecalc != null">
        #{paytimecalc,jdbcType=VARCHAR},
      </if>
      <if test="lineupnumber != null">
        #{lineupnumber,jdbcType=VARCHAR},
      </if>
      <if test="lineupmoney != null">
        #{lineupmoney,jdbcType=DOUBLE},
      </if>
      <if test="outlineuptime != null">
        #{outlineuptime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="joe.levante.model.historylineup">
    update historylineup
    <set>
      <if test="paytimecalc != null">
        paytimecalc = #{paytimecalc,jdbcType=VARCHAR},
      </if>
      <if test="lineupnumber != null">
        lineupnumber = #{lineupnumber,jdbcType=VARCHAR},
      </if>
      <if test="lineupmoney != null">
        lineupmoney = #{lineupmoney,jdbcType=DOUBLE},
      </if>
      <if test="outlineuptime != null">
        outlineuptime = #{outlineuptime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="joe.levante.model.historylineup">
    update historylineup
    set paytimecalc = #{paytimecalc,jdbcType=VARCHAR},
      lineupnumber = #{lineupnumber,jdbcType=VARCHAR},
      lineupmoney = #{lineupmoney,jdbcType=DOUBLE},
      outlineuptime = #{outlineuptime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>