<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joe.levante.dao.payMapper">
  <resultMap id="BaseResultMap" type="joe.levante.model.pay">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="shopid" jdbcType="INTEGER" property="shopid" />
    <result column="paytime" jdbcType="DATE" property="paytime" />
    <result column="paynumber" jdbcType="DOUBLE" property="paynumber" />
    <result column="shopname" jdbcType="VARCHAR" property="shopname" />
    <result column="paytimecalc" jdbcType="VARCHAR" property="paytimecalc" />
    <result column="paytype" jdbcType="VARCHAR" property="paytype" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, shopid, paytime, paynumber, shopname, paytimecalc, paytype
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pay
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="joe.levante.model.pay">
    insert into pay (id, userid, shopid, 
      paytime, paynumber, shopname, 
      paytimecalc, paytype)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{shopid,jdbcType=INTEGER}, 
      #{paytime,jdbcType=DATE}, #{paynumber,jdbcType=DOUBLE}, #{shopname,jdbcType=VARCHAR}, 
      #{paytimecalc,jdbcType=VARCHAR}, #{paytype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="joe.levante.model.pay">
    insert into pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="shopid != null">
        shopid,
      </if>
      <if test="paytime != null">
        paytime,
      </if>
      <if test="paynumber != null">
        paynumber,
      </if>
      <if test="shopname != null">
        shopname,
      </if>
      <if test="paytimecalc != null">
        paytimecalc,
      </if>
      <if test="paytype != null">
        paytype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="shopid != null">
        #{shopid,jdbcType=INTEGER},
      </if>
      <if test="paytime != null">
        #{paytime,jdbcType=DATE},
      </if>
      <if test="paynumber != null">
        #{paynumber,jdbcType=DOUBLE},
      </if>
      <if test="shopname != null">
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="paytimecalc != null">
        #{paytimecalc,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null">
        #{paytype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="joe.levante.model.pay">
    update pay
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="shopid != null">
        shopid = #{shopid,jdbcType=INTEGER},
      </if>
      <if test="paytime != null">
        paytime = #{paytime,jdbcType=DATE},
      </if>
      <if test="paynumber != null">
        paynumber = #{paynumber,jdbcType=DOUBLE},
      </if>
      <if test="shopname != null">
        shopname = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="paytimecalc != null">
        paytimecalc = #{paytimecalc,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null">
        paytype = #{paytype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="joe.levante.model.pay">
    update pay
    set userid = #{userid,jdbcType=INTEGER},
      shopid = #{shopid,jdbcType=INTEGER},
      paytime = #{paytime,jdbcType=DATE},
      paynumber = #{paynumber,jdbcType=DOUBLE},
      shopname = #{shopname,jdbcType=VARCHAR},
      paytimecalc = #{paytimecalc,jdbcType=VARCHAR},
      paytype = #{paytype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="joe.levante.model.pay">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="shopid" jdbcType="INTEGER" property="shopid" />
    <result column="paytime" jdbcType="DATE" property="paytime" />
    <result column="paynumber" jdbcType="DOUBLE" property="paynumber" />
    <result column="shopname" jdbcType="VARCHAR" property="shopname" />
    <result column="paytimecalc" jdbcType="VARCHAR" property="paytimecalc" />
    <result column="paytype" jdbcType="VARCHAR" property="paytype" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, shopid, paytime, paynumber, shopname, paytimecalc, paytype
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pay
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pay
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="joe.levante.model.pay">
    insert into pay (id, userid, shopid, 
      paytime, paynumber, shopname, 
      paytimecalc, paytype)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{shopid,jdbcType=INTEGER}, 
      #{paytime,jdbcType=DATE}, #{paynumber,jdbcType=DOUBLE}, #{shopname,jdbcType=VARCHAR}, 
      #{paytimecalc,jdbcType=VARCHAR}, #{paytype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="joe.levante.model.pay">
    insert into pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="shopid != null">
        shopid,
      </if>
      <if test="paytime != null">
        paytime,
      </if>
      <if test="paynumber != null">
        paynumber,
      </if>
      <if test="shopname != null">
        shopname,
      </if>
      <if test="paytimecalc != null">
        paytimecalc,
      </if>
      <if test="paytype != null">
        paytype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="shopid != null">
        #{shopid,jdbcType=INTEGER},
      </if>
      <if test="paytime != null">
        #{paytime,jdbcType=DATE},
      </if>
      <if test="paynumber != null">
        #{paynumber,jdbcType=DOUBLE},
      </if>
      <if test="shopname != null">
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="paytimecalc != null">
        #{paytimecalc,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null">
        #{paytype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="joe.levante.model.pay">
    update pay
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="shopid != null">
        shopid = #{shopid,jdbcType=INTEGER},
      </if>
      <if test="paytime != null">
        paytime = #{paytime,jdbcType=DATE},
      </if>
      <if test="paynumber != null">
        paynumber = #{paynumber,jdbcType=DOUBLE},
      </if>
      <if test="shopname != null">
        shopname = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="paytimecalc != null">
        paytimecalc = #{paytimecalc,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null">
        paytype = #{paytype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="joe.levante.model.pay">
    update pay
    set userid = #{userid,jdbcType=INTEGER},
      shopid = #{shopid,jdbcType=INTEGER},
      paytime = #{paytime,jdbcType=DATE},
      paynumber = #{paynumber,jdbcType=DOUBLE},
      shopname = #{shopname,jdbcType=VARCHAR},
      paytimecalc = #{paytimecalc,jdbcType=VARCHAR},
      paytype = #{paytype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>